{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h2 style="padding-top: 20px;">SmoolURL</h2>

    <form method="POST" action="{{ url_for('shorturl.create') }}">
        <div class="form-group">
            <label for="inputURL">Original URL</label>
            <input type="url" name="long_url" class="form-control" id="inputURL" aria-describedby="inputURLHelp" required>
        </div>

        <label for="basic-url">Custom Alias (Optional)</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="custom-alias">https://smoolurl.com/</span>
            </div>
            <input type="text" name="short_url" class="form-control" id="basic-url" aria-describedby="custom-alias" maxlength="20" required>
            <!-- <p class="form-text text-muted">Alias cannot exceed 20 characters</p> -->
        </div>
        <p style="font-size: small;" class="form-text text-muted">Alias cannot exceed 20 characters</p>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}